<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title>Acerca de</title>
</head>
<body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center display-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">Acerca de Tique</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis autem fuga suscipit dolorum recusandae soluta molestias sequi officiis culpa eius, accusantium corporis eaque vero neque illo odio? Excepturi necessitatibus eum veritatis. Quisquam eveniet eius vel praesentium ratione, possimus dolor obcaecati vitae, voluptatum nam pariatur reiciendis, voluptate a! Harum atque ea vitae, vero, consequatur quo in eaque asperiores soluta aperiam sed facilis, alias impedit eveniet. Voluptas officia tempora ad debitis vero mollitia ea sapiente deserunt reiciendis harum odit, quae a soluta nihil quo aut corporis explicabo earum laudantium natus dolore animi molestias. Voluptates neque ex iure corporis dolores, debitis perspiciatis vel at ut molestiae alias odio, accusamus magni dolorum maxime deserunt, odit unde illum aperiam aliquid nihil? Optio commodi, iure quibusdam veniam atque ad facere, suscipit ducimus totam quo ex quae nulla quasi quaerat. Cum quae ullam dolores suscipit, facilis eos explicabo sunt necessitatibus. Qui dicta sit ab laboriosam magni voluptatem. Quae ratione hic quia accusamus dolorum incidunt adipisci. Eius debitis quisquam magni alias perspiciatis. Aliquam, dolor perspiciatis error minima sint soluta deserunt iure amet non adipisci quo nisi quaerat cumque saepe quibusdam, rerum cum molestias ducimus! Molestias error voluptas necessitatibus iure incidunt. Fugiat, fuga cum! Fuga culpa molestias libero id facere architecto? Impedit quisquam repudiandae enim molestias fugiat aperiam exercitationem qui animi sequi soluta quaerat, amet maxime quidem consequatur doloribus excepturi voluptatem numquam quo accusamus nobis recusandae dolores! Placeat soluta sint aspernatur sunt fugiat veritatis culpa nulla consequatur illo, aperiam quos iste ullam totam! Vero incidunt debitis rem, quam vel in facere? Molestiae mollitia possimus doloremque, nulla repudiandae cupiditate quo ea nostrum odit totam soluta illo officia laboriosam! Labore deleniti laudantium beatae illum quae! Possimus reprehenderit ab accusamus similique debitis tempora non sequi voluptas ratione ipsa incidunt tenetur eius dolores necessitatibus aut sit rerum, cum ipsam culpa porro? Voluptas, ab!</p>
        </section>
    </main>
</body>
</html>